@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-primaria: #222831;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #FFD369;
    --cor-hover: #FFFFFF;

    --fonte-primaria: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* instalando a fonte do Google no body todo */
    font-family: var(--fonte-primaria);
}

.navigation_menu {
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
    height: 10rem;
}

.navigation_menu-items {
    display: flex;
    text-align: center;
    gap: 3rem;
    margin-left: 22%;
    text-decoration: none;
}

.navigation_menu-items-item {
    color: var(--cor-terciaria);
    transition: 200ms;
    font-size: 1.5rem;
}

.navigation_menu-items-item:hover {
    color: var(--cor-hover);
    scale: 1.2;
    font-weight: 500;
}


h1 {
    color: var(--cor-terciaria);
    margin-inline: auto;
}

main {
    width: 70vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

main p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.sobremim-main-imageandtext {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 5.5rem;
    margin-inline: auto;
    gap: 5rem;
}

.text-right {
    margin-left: 3rem;
    justify-content: center;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 2rem;
}

footer p {
    margin-inline: auto;
    margin-top: 0.7rem;
}

b {
    font-size: 1.8rem;
}

.flex-left {
    filter: grayscale(100%);
    width: 15rem;
    margin-inline: auto;
}

::-webkit-scrollbar {
    background: var(--cor-primaria);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-terciaria);
    border-radius: .5rem;
}

@media (max-width: 480px) {

    * {
        margin: 0;
    }

    body {
        height: 100vh;
    }

    .navigation_menu {
        margin-inline: auto;
        height: 8vh;
        margin-block: 3vh;
        background-color: var(--cor-terciaria);
        margin-top: 0;
    }

    .navigation_menu-items {
        gap: 1rem;
        margin-inline: auto;
        width: 60vw;
        display: flex;
        align-items: center;
    }

    .navigation_menu-items-item {
        width: 6rem;
        font-size: 1rem;
        font-weight: 600;
        color: var(--cor-primaria);
    }

    main {
        width: 90vw;
    }

    .sobremim-main-imageandtext {
        width: 75vw;
        margin-top: 4vh;
        gap: 6vh;
    }

    .text-right {
        margin: 0;
    }

    main p{
        text-align: left;
    }

    .main-heading{
        font-size: 1.5rem;
        margin-block: 2vh;
    }

    footer p {
        scale: 60%;
        margin-top: 0;
    }
}